---
layout: page
---
<div class="row justify-content-sm-center">
  <div class="col-sm-2 mt-3 mt-md-0">
    {% include figure.liquid path=page.img title="example image" class="img-fluid rounded z-depth-1" %}
  </div>
  <div class="col-sm-10 mt-3 mt-md-0">
    <p>{{ page.business }}</p>
    <p>Secteur : {{ page.sector }}, {{ page.industry }}</p>
  </div>
</div>

{% if page.analysis %}
  <h5>Analyses du titre</h5>
  <ul>
    {% for analysis in page.analysis %}
      <li>
        <a href="{{ analysis[1] }}">Achetez l'analyse de {{ page.description }} du {{ analysis[0] }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
